body{
  font-family: 'Open Sans', Helvetica, sans-serif; 
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  background: #001821;
  color: #ffffff;
  height: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
} 

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.main-page-wrapper {
  background: url("../img/bg/hero.jpg") center top no-repeat, url("../img/bg/bottom-pic.jpg") right 60px bottom 200px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header{
  height: 120px;
  position: relative;
  margin-bottom: 107px;
}

.logo {
  display: block;
  position: absolute;
  top: 37px;
  left: 0;
}

.logo__pic{
  width: 98px;
  height: 42px;
}

.menu {
  position: absolute;
  top: 45px;
  left: 164px;
}

.contacts {
  position: absolute;
  top: 30px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item--active .menu__link{
  color: #f5170e;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #f5170e;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-workhours{
  font-size: 13px;
  text-decoration: underline; 
  margin-top: -3px; 
}

.contacts__info {
  font-size: 11px;
  color: #9a9a9a;
  margin-top: 7px;
}

.hero__text-section {
  width: 510px;
  margin-bottom: 247px;
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 27px;
}

.hero__motto {
  font-size: 18px;
  margin-bottom: 34px;
}

.btn{
  display: inline-block;
  font-size: 14px;
  border-radius: 26px;
  padding: 17px 39px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--red{
  background-color: #da0100;
  color: #ffffff;
}

.btn--color--white {
  background: #ffffff;
  color: #d21d16;
  border: 1px solid #eda5a2;
}

.btn--color--red:hover {
  background: #f5170e;
}

.btn--color--white:hover{
  background: #f5170e;
  color: #ffffff;
}

.btn--size--small {
  padding: 16px 27px;
  margin-left: 4px;
}

.main-content {
  margin-bottom: 135px;
}

.section-header {
  position: relative;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 49px;
}

.fire-icon {
  position: absolute;
  top: 10px;
  left: 279px;
}

.tours__country {
  display: inline-block;
  min-height: 439px;
  width: 360px;
  background: #ffffff;
  border-radius: 6px;
  margin-right: 25px;
  overflow: hidden;     
}

.tours__country:last-child{
  margin-right: 0;
}

.tours__header{
  height: 141px;
  width: 360px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #303030;
  position: relative;
}

.tours__img {
  width: 100%;
  opacity: 0.5;
  border-radius: 6px;
  position: absolute;
  object-fit: cover;
}

.tours__content{
  padding: 22px 22px;
  color: #000000;  
}

.tours__name{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
}

.tours__info {
  margin-bottom: 18px;
  margin-left: 7px;
  display: inline-block;
}

.tours__info-dates{
  display: inline-block;
  width: 121px;
  margin-right: 27px;
  color: #666666;
  position: relative;
}

.tour__dates {
  width: 88px;
  height: 26px;
  margin: 4px 35px;  
}

.tour__dates-pic{
  display: inline-block;
  margin-right: 0px;
  position: absolute;
}

.tours__info-brfst{
  display: inline-block;
  width: 116px;
  margin-right: 0px;
  color: #666666;
  position: relative;
}

.tour__brfst-pic {
  display: inline-block;
  position: absolute;
  bottom: 0px;
}

.tours__brfst{
  width: 71px;
  margin-left: 45px;  
}

.tours__description {
  margin-bottom: 27px;
  color: #303030;
  font-size: 14px;
  line-height: 21px;
}

.promo-content {
  margin-bottom: 50px;
}

.promo {
  width: 555px;
  height: 391px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #1a1b1e;
  margin-right: 25px;
}

.promo:last-child {
  margin-right: 0;
}

.promo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.promo__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 19px 30px;
  min-height: 165px;
}

.promo__date {
  font-size: 14px;
  margin-bottom: 17px;
}

.promo__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}

.paginator {
  text-align: center;
  margin-bottom: 150px;
  margin-left: 29px;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link{
  background-color: #ffffff;
  color: #d21d16; 
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px; 
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

/* .paginator__link:hover{    
  background-color: #ffffff;
  color: #d21d16; 
} */

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 488px;
  height: 502px;
  background: url("../img/decor/gates.jpg") top 0px right -26px/ 116% no-repeat;
  border-radius: 6px;
}

.about {
  margin-bottom: 52px;
}

.about__content {
  background: url("../img/decor/mountains.jpg") bottom -321px left -226px/ 129% no-repeat;
  background-color: #ffffff;
  padding: 69px 98px 61px;
  display: inline-block;
  vertical-align: top;
  width: 780px;
  height: 454px;
  margin-left: -133px;
  margin-top: 107px;  
  border-radius: 6px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 29px;
}

.about__text {
  color: #000000;
  margin-bottom: 45px;
  line-height: 27px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer-container__content {
  border-top: 1px solid #1a3038;
}

.footer {
  height: 172px;
  position: relative;
}

.social {
  position: absolute;
  top: 42px;
  right: 263px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right:6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--icon--telegram .social__link {
  background-image: url("../img/icons/socials/telegram.png");
  opacity: 0.5;
}

.social__item--icon--telegram .social__link:hover {
  opacity: 1;
}

.social__item--icon--vk .social__link {
  background-image: url("../img/icons/socials/vkontakte.png");
  opacity: 0.5;
}

.social__item--icon--vk .social__link:hover {
  opacity: 1;
}

.social__item--icon--fb .social__link {
  background-image: url("../img/icons/socials/facebook.png");
  opacity: 0.5;
}

.social__item--icon--fb .social__link:hover {
  opacity: 1;
}

.social__item--icon--insta .social__link {
  background-image: url("../img/icons/socials/instagram.png");
  opacity: 0.5;
}

.social__item--icon--insta .social__link:hover {
  opacity: 1;
}