.middleline {
  height: 360px;
  background: url("/img/decor/couple.png") right 32% bottom no-repeat, url("/img/bg/middleline.jpg") center center no-repeat, #f2b09d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middleline__content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.middleline__title {
  max-width: 53%;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  
}

/* .middleline__content:after {
  content: ;
  padding-top: 23px;
} */
